.todoInput {
  width: 100%;
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__title input {
    font-size: 27px;
    font-weight: 500;
  }
  &__text input {
    font-size: 16px;
  }
  &__sendBtn {
    white-space: nowrap;
  }
}
