@import "~normalize.css";

body {
  font-family: "Roboto";
}

main {
  max-width: 900px;
  margin: 55px auto 0 auto;
  padding: 0 10px;
}

.MuiBox-root .css-1aquho2-MuiTabs-indicator {
  background-color: #fff;
}